div{
    align-items: center;
    justify-content: center;
    display: flex;
}

div #form {
    #inputValue {
        border-radius: 50px;
        border: 1px solid rgb(44, 2, 2);
    }
    #inputValue:focus {
        outline: 0px;
    }

    button {
        height: 22px;
        width: 50px;
        background-color: rgb(204, 153, 153);
        border: 1px solid rgb(143, 82, 82);
        border-radius: 5px;
    }
    button:hover{
        background-color: rgb(87, 194, 110);
    }
}

